
#header 
    color: white
    text-align: center
    overflow: hidden
    height: 100vh
    // max-height: 800px
    // background: $black

.bg-slide
    // background-image: url('/asset/img/bg-slider2.jpg')
    // background-position: center
    // background-repeat: no-repeat
    // background-size: cover
    width: 100%
    position: absolute 
    height: 100vh !important
    z-index: -1
 

    &::after
        position: absolute
        content: ""
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #000
        // background-image: linear-gradient(0deg, rgba(255,226,0,1) 0%, rgba(58,115,179,1) 67%, rgba(0,40,170,1) 100%)
        // background-color: #ffe200
        opacity: .6
        overflow: hidden
        z-index: 1

//     background-color #20bf55;
// background-image linear-gradient(315deg, #20bf55 0%, #01baef 74%);


@media only screen and (min-width: 481px) and (max-width: 767px)
    .bg-slide
        height: 620px !important

@media only screen and (min-width: 320px) and (max-width: 480px)
    .bg-slide
        height: 520px !important