@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900");
.huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.huge, h1 {
  font-size: 56px;
  line-height: 1.05;
  text-transform: uppercase;
  font-weight: 900;
}
@media only screen and (max-width: 680px) {
  .huge, h1 {
    font-size: 44px;
  }
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}
@media only screen and (max-width: 680px) {
  .large, h2 {
    font-size: 32px;
  }
}

.bigger, h3 {
  font-size: 28px;
  line-height: 1.38;
  font-weight: 800;
}
@media only screen and (max-width: 680px) {
  .bigger, h3 {
    font-size: 22px;
  }
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}
@media only screen and (max-width: 680px) {
  .big, h4 {
    font-size: 18px;
  }
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.38;
}

a {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #292E33;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body a:visited {
  color: inherit;
}

.wrapper {
  width: 85%;
  max-width: 1100px;
  margin: auto;
  z-index: 100;
}
@media only screen and (max-width: 950px) {
  .wrapper {
    width: 90%;
    margin: auto;
  }
}

section {
  display: -webkit-box;
}

.main-nav {
  display: flex;
  margin-top: 20px;
  padding: 0;
  z-index: 100;
}
.main-nav li {
  list-style: none;
  display: inline-block;
}
.main-nav li.logo {
  margin-right: auto;
}
.main-nav li.logo img {
  height: 42px;
}
.main-nav a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}
.main-nav a:hover, .main-nav a:active, .main-nav a:focus {
  font-weight: 500;
  transform: translateY(2px);
}
.main-nav .toggle-button {
  display: none;
}

@media screen and (max-width: 750px) {
  .main-nav .toggle-button {
    display: block;
    z-index: 100;
  }
  .main-nav .responsive-nav {
    display: none;
  }

  .responsive-nav.showNav {
    display: block;
    width: 100%;
    background: #1f1f1f;
    position: absolute;
    top: 0;
    right: 0;
  }

  .responsive-nav.showNav li {
    display: block;
  }

  .responsive-nav.showNav a {
    padding: 40px;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .main-nav .toggle-button {
    display: block;
    z-index: 100;
  }
  .main-nav .responsive-nav {
    display: none;
  }

  .responsive-nav.showNav {
    display: block;
    width: 100%;
    height: 450px;
    background: #1f1f1f;
    position: absolute;
    top: 0;
    right: 0;
  }

  .responsive-nav.showNav li {
    display: block;
  }

  .responsive-nav.showNav a {
    padding: 28px;
    display: block;
    text-align: center;
  }
}
#article {
  width: 70%;
  margin: 100px auto;
  color: white;
  z-index: 50;
}
#article h2 {
  font-weight: 500;
}
#article p {
  font-size: 24px;
  font-weight: 300;
}
#article a {
  text-decoration: none;
  color: white;
}
#article .underlineSmall {
  display: none;
}

.label {
  display: inline-block;
  font-weight: 500;
  margin: 10px 0px;
  font-size: 14px;
  transition: all 0.2s ease;
}
.label:hover, .label:active, .label:focus {
  transform: translateY(2px);
}

a.label {
  text-decoration: none;
}

.button {
  font-weight: 500;
  color: #FFCB31 !important;
  text-decoration: none;
  border: 2px solid #FFCB31;
  display: block;
  width: 200px;
  margin: auto;
  padding: 15px 30px;
  border-radius: 100px;
  transition: all 0.2s ease;
}
.button:hover, .button:active, .button:focus {
  background: #FFCB31;
  color: white !important;
  transform: translateY(2px);
}

.scroll-downs {
  position: absolute;
  margin: auto;
  top: 95%;
  right: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 1;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  #article {
    width: 90%;
    vertical-align: middle;
  }
  #article h2 {
    font-size: 32px;
    font-weight: 500;
  }
  #article p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #article {
    width: 90%;
    vertical-align: middle;
    margin: 50px auto 20px auto;
  }
  #article h2 {
    font-size: 24px;
    font-weight: 500;
  }
  #article p {
    font-size: 16px;
  }
}
#main {
  height: 950px;
  text-align: center;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #main {
    height: 1450px;
  }
}
@media only screen and (min-width: 370px) and (max-width: 480px) {
  #main {
    height: 1520px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 369px) {
  #main {
    height: 1720px;
  }
}
#main h3 {
  margin-top: 80px;
  margin-bottom: 0px;
}
#main p {
  font-size: 18px;
  margin: 16px;
}

.fitur {
  margin: 60px 10px;
  text-align: center;
}
.fitur p {
  font-size: 14px !important;
}
.fitur img {
  height: 64px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    grid-template-columns: repeat(1, auto);
    grid-gap: 16px;
  }
}
.card p {
  font-size: 14px;
}

.fitur-card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.16);
}
.fitur-card .link-servis {
  margin: 40px auto 0px auto;
}
.fitur-card .link-servis a {
  text-decoration: none;
}

#partner {
  height: 450px;
  background: #F7F9FA;
  text-align: center;
  justify-items: center;
}
@media only screen and (min-width: 481px) and (max-width: 680px) {
  #partner {
    height: 500px;
  }
}
@media only screen and (min-width: 370px) and (max-width: 480px) {
  #partner {
    height: 370px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 369px) {
  #partner {
    height: 320px;
  }
}
#partner img {
  width: 80%;
}
#partner h3 {
  margin: 50px;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #partner img {
    width: 90%;
  }
  #partner h3 {
    margin: 30px;
  }
}

#map {
  height: 550px;
}

.map-canvas {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 481px) and (max-width: 680px) {
  #map {
    height: 350px;
  }
}
#footer {
  height: 250px;
}
#footer h4 {
  margin-top: 0px;
}

.footer-tank {
  margin-top: 40px;
  display: flex;
}
.footer-tank p {
  font-weight: 500;
}
.footer-tank a {
  text-decoration: none;
}

.footer-1, .footer-2 {
  display: block;
}

.footer-1 {
  margin-bottom: 30px;
  margin-right: auto;
}

.footer-2 {
  padding: 0px 15px 15px 15px;
}

.link-map {
  color: #0070C6 !important;
}

.footbot {
  margin: auto;
  color: #292E33;
}
.footbot p {
  font-size: 12px;
}

@media only screen and (max-width: 650px) {
  #footer .footer-tank {
    text-align: center;
    display: block;
    height: 450px;
  }
  #footer .footbot {
    text-align: center;
  }
}
#header {
  color: white;
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.bg-slide {
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: -1;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .bg-slide {
    max-height: 620px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .bg-slide {
    max-height: 550px;
  }
}
.bg-slide::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}

#servis-header {
  margin: 0;
  height: 100vh;
  max-height: 750px;
  z-index: 1;
  color: white;
  overflow: hidden;
}

.bg-servis {
  background-image: url("/asset/img/bg-slider3.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: -5;
}
.bg-servis:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: -4;
}

.servis-article {
  margin-top: 100px;
  width: 50%;
  display: block;
}

.servis-intro p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.servis-button {
  text-align: center;
  display: inline-block;
  margin-left: 0px;
}

.our-servis {
  width: 70%;
  margin: 80px auto 40px auto;
}
.our-servis h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}
.our-servis p {
  font-size: 18px;
  line-height: 1.6;
}

.list-servis {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.list-servis a {
  color: #292E33;
  text-decoration: none;
  pointer-events: none;
  font-size: 16px;
}
.list-servis ul {
  padding: 0;
}
.list-servis li {
  line-height: 1.8;
  margin-right: 16px;
  list-style-image: url("/asset/icon/icon-list.png");
}

.list-r, .list-l {
  display: block;
}

.list-r {
  margin-left: 20px;
}

.list-l {
  margin-right: 20px;
}

@media only screen and (min-width: 481px) and (max-width: 840px) {
  #servis-header {
    height: 650px;
  }

  .servis-article {
    margin-top: 100px;
    width: 100%;
    display: block;
  }

  .servis-intro p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
  }

  .servis-button {
    text-align: center;
    display: inline-block;
  }
}
@media only screen and (max-width: 780px) {
  .servis-article {
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .servis-article {
    margin-top: 100px;
    width: 100%;
    display: block;
  }

  .servis-intro p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .our-servis {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 564px) {
  .list-servis {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  .list-servis ul {
    margin-bottom: 0;
  }

  .list-r, .list-l {
    margin: 0;
  }
}
#about {
  background: #F7F9FA;
  height: 750px;
  text-align: center;
}

.main-about {
  margin-top: 40px;
}

.content-about {
  margin: 40px;
  display: flex;
  align-items: center;
  height: 100%;
}

.about-l {
  text-align: left;
}
.about-l p {
  font-weight: 300;
  line-height: 1.8;
}

.about-r {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-image: 2px;
}

.about-l, .about-r {
  display: block;
  padding: 20px;
}

.vision p {
  font-size: 18px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 1000px) {
  #about {
    height: 900px;
    text-align: center;
  }

  .content-about {
    display: block;
    margin: 0;
  }

  .about-r, .about-l {
    padding: 0;
  }

  .about-r {
    display: inline !important;
  }
}

/*# sourceMappingURL=main.css.map */
