#main
    // background-image: url('/asset/img/bg-ornament.png')
    // background-size: cover
    height: 1250px
    background: $grey
    text-align: center

    @media only screen and (min-width: 481px) and (max-width: 767px)
        height: 1550px

    @media only screen and (min-width: 370px) and (max-width: 480px)
        height: 2120px

    @media only screen and (min-width: 320px) and (max-width: 369px)
        height: 2220px


    h3 
        margin-top: 80px
        margin-bottom: 0px
    p 
        font-size: 18px
        margin: 16px

.list-servis
    margin-top: 40px
    display: flex
    justify-content: center
    text-align: left !important

    a
        color: $black
        text-decoration: none
        pointer-events: none
        font-size: 16px

    ul 
        padding: 0

    li 
        line-height: 1.8
        margin-right: 16px
        list-style-image: url('/asset/icon/icon-list.png')


.list-r, .list-l
    display: block

// .list-r
//     margin-left: 20px
// .list-l
//     margin-right: 20px

.fitur
    margin: 80px 10px
    text-align: center
    p
        font-size: 14px !important 
    img 
        height: 64px


.card
    display: grid
    grid-template-columns: repeat(2, auto)
    grid-gap: 20px

    @media only screen and (min-width: 320px) and (max-width: 767px)
        grid-template-columns: repeat(1, auto)
        grid-gap: 16px

    p
        font-size: 14px

.fitur-card
    background: white
    padding: 30px
    border-radius: 8px
    box-shadow: 0 5px 20px 0px rgba(0,0,0, 0.16)
    
    .link-servis
        margin: 80px auto 0px auto
        a 
            text-decoration: none

    // .underlineSmall
    //     background-color: $blue !important

@media only screen and (min-width: 320px) and (max-width: 676px)
    .list-servis
        display: grid
        grid-template-columns: repeat(1, auto)
        font-size: 20px
        margin-left: 40px

        ul 
            margin-bottom: 0
    .list-r, .list-l
        margin: 0