#main
    // background-image: url('/asset/img/bg-ornament.png')
    // background-size: cover
    height: 950px
    text-align: center

    @media only screen and (min-width: 481px) and (max-width: 767px)
        height: 1450px

    @media only screen and (min-width: 370px) and (max-width: 480px)
        height: 1520px

    @media only screen and (min-width: 320px) and (max-width: 369px)
        height: 1720px


    h3 
        margin-top: 80px
        margin-bottom: 0px
    p 
        font-size: 18px
        margin: 16px

    img 
        height: 64px

    .fitur
        margin: 60px 10px

    .card
        display: grid
        grid-template-columns: repeat(2, auto)
        grid-gap: 20px

        @media only screen and (min-width: 320px) and (max-width: 767px)
            grid-template-columns: repeat(1, auto)
            grid-gap: 16px

        p
            font-size: 14px

    .fitur-card
        background: white
        padding: 30px
        border-radius: 8px
        box-shadow: 0 5px 20px 0px rgba(0,0,0, 0.16)
        
    .link-servis
        margin: 40px auto 0px auto
        a 
            text-decoration: none

    // .underlineSmall
    //     background-color: $blue !important

