#article
    width: 70%
    z-index: 1
    margin: 100px auto

    h2 
        font-weight: 500
    
    p 
        font-size: 24px
        font-weight: 300

    // h2, p
    //     justify-content: center

    a 
        text-decoration: none
        color: white

    .underlineSmall
            display: none
    .label
        display: inline-block
        font-weight: 500
        margin: 10px 0px
        font-size: 14px
        transition: all 0.2s ease

        &:hover, &:active, &:focus
            transform: translateY(2px)

.button
    font-weight: 500
    color: $yellow !important
    text-decoration: none
    border: 2px solid $yellow
    display: block
    width: 200px
    margin: auto
    padding: 15px 30px
    border-radius: 100px
    transition: all 0.2s ease

    &:hover, &:active, &:focus
        background: $yellow
        color: white !important
        transform: translateY(2px)

    
.scroll-downs
    position: absolute
    margin: auto
    top: 95%
    right: 0
    left: 0
    width : 18px
    height: 18px
    z-index: -1



// .mousey
    // width: 2px
    // padding: 10px 15px
    // height: 14px
    // border: 2px solid #fff
    // border-radius: 14px
    // opacity: 0.75
    // box-sizing: content-box

// .scroller 
    // width: 2px
    // height: 4px
    // border-radius: 25%
    // background-color: #fff
    // animation-name: scroll
    // animation-duration: 2.2s
    // animation-timing-function: cubic-bezier(.15,.41,.69,.94)
    // animation-iteration-count: infinite

//  scroll 
//     0% opacity: 0
//     10% transform: translateY(0) opacity: 1
//     100% transform: translateY(15px) opacity: 0


@media only screen and (min-width: 481px) and (max-width: 767px)
    #article
        width: 90%
        vertical-align: middle
        h2 
            font-size: 32px
            font-weight: 500
        p
            font-size: 16px

@media only screen and (min-width: 320px) and (max-width: 480px)
    #article
        width: 90%
        vertical-align: middle
        margin: 50px auto 20px auto
        h2 
            font-size: 24px
            font-weight: 500
        p
            font-size: 16px