.button-primary
    font-weight: 500
    color: $yellow !important
    text-decoration: none
    border: 2px solid $yellow
    display: block
    width: 200px
    margin: auto
    padding: 15px 30px
    border-radius: 100px
    transition: all 0.2s ease

    &:hover, &:active
        background: $yellow
        border: 2px solid $yellow
        color: white !important
        transform: translateY(2px)

.button-secondary
    font-weight: 500
    text-decoration: none
    color: white !important
    background: $yellow
    border: 2px solid $yellow
    display: block
    width: 200px
    margin: auto
    padding: 15px 30px
    border-radius: 100px
    transition: all 0.2s ease

    &:hover, &:active
        background: $yellows
        color: white !important
        transform: translateY(2px)
